.Maps {
    margin: 1rem auto;
    width: 900px;

    svg {
        stroke: #fff;

        path {
            cursor: pointer;
            outline: none;

            &[id='ca'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='gl'] {
                fill: rgba(68, 153, 214, 1);

                &:hover {
                    fill: rgba(68, 153, 214, 0.85);
                }
            }

            &[id='us'] {
                fill: rgba(68, 153, 214, 1);

                &:hover {
                    fill: rgba(68, 153, 214, 0.85);
                }
            }

            &[id='mx'] {
                fill: rgba(92, 191, 238, 1);

                &:hover {
                    fill: rgba(92, 191, 238, 0.85);
                }
            }

            &[id='gt'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='bz'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='hn'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='ni'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='sv'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='cr'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='pa'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='cu'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='jm'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='do'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='ht'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='pr'] {
                fill: rgba(30, 89, 149, 1);

                &:hover {
                    fill: rgba(30, 89, 149, 0.85);
                }
            }

            &[id='br'] {
                fill: rgba(235, 148, 120, 1);

                &:hover {
                    fill: rgba(235, 148, 120, 0.85);
                }
            }

            &[id='ec'] {
                fill: rgba(231, 109, 83, 1);

                &:hover {
                    fill: rgba(231, 109, 83, 0.85);
                }
            }

            &[id='uy'] {
                fill: rgba(231, 109, 83, 1);

                &:hover {
                    fill: rgba(231, 109, 83, 0.85);
                }
            }

            &[id='co'] {
                fill: rgba(141, 41, 11, 1);

                &:hover {
                    fill: rgba(141, 41, 11, 0.85);
                }
            }

            &[id='ar'] {
                fill: rgba(141, 41, 11, 1);

                &:hover {
                    fill: rgba(141, 41, 11, 0.85);
                }
            }

            &[id='bo'] {
                fill: rgba(188, 59, 24, 1);

                &:hover {
                    fill: rgba(188, 59, 24, 0.85);
                }
            }

            &[id='ve'] {
                fill: rgba(188, 59, 24, 1);

                &:hover {
                    fill: rgba(188, 59, 24, 0.85);
                }
            }

            &[id='gy'] {
                fill: rgba(188, 59, 24, 1);

                &:hover {
                    fill: rgba(188, 59, 24, 0.85);
                }
            }

            &[id='sr'] {
                fill: rgba(188, 59, 24, 1);

                &:hover {
                    fill: rgba(188, 59, 24, 0.85);
                }
            }

            &[id='py'] {
                fill: rgba(188, 59, 24, 1);

                &:hover {
                    fill: rgba(188, 59, 24, 0.85);
                }
            }

            &[id='pe'] {
                fill: rgba(188, 59, 24, 1);

                &:hover {
                    fill: rgba(188, 59, 24, 0.85);
                }
            }

            &[id='cl'] {
                fill: rgba(188, 59, 24, 1);

                &:hover {
                    fill: rgba(188, 59, 24, 0.85);
                }
            }

            &[id='fk'] {
                fill: rgba(188, 59, 24, 1);

                &:hover {
                    fill: rgba(188, 59, 24, 0.85);
                }
            }

            &[id='gf'] {
                fill: rgba(149, 68, 142, 1);

                &:hover {
                    fill: rgba(149, 68, 142, 0.85);
                }
            }

            &[id='ru'] {
                fill: rgba(191, 214, 47, 1);

                &:hover {
                    fill: rgba(191, 214, 47, 0.85);
                }
            }

            &[id='tr'] {
                fill: rgba(191, 214, 47, 1);

                &:hover {
                    fill: rgba(191, 214, 47, 0.85);
                }
            }

            &[id='sa'] {
                fill: rgba(191, 214, 47, 1);

                &:hover {
                    fill: rgba(191, 214, 47, 0.85);
                }
            }

            &[id='in'] {
                fill: rgba(191, 214, 47, 1);

                &:hover {
                    fill: rgba(191, 214, 47, 0.85);
                }
            }

            &[id='mm'] {
                fill: rgba(191, 214, 47, 1);

                &:hover {
                    fill: rgba(191, 214, 47, 0.85);
                }
            }

            &[id='id'] {
                fill: rgba(191, 214, 47, 1);

                &:hover {
                    fill: rgba(191, 214, 47, 0.85);
                }
            }

            &[id='ph'] {
                fill: rgba(191, 214, 47, 1);

                &:hover {
                    fill: rgba(191, 214, 47, 0.85);
                }
            }

            &[id='cn'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='th'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='my'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='ir'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='iq'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='jo'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='ye'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='om'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='ae'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='qa'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='kw'] {
                fill: rgba(141, 197, 61, 1);

                &:hover {
                    fill: rgba(141, 197, 61, 0.85);
                }
            }

            &[id='mn'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='jp'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='kz'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='kp'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='kr'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='uz'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='kr'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='kg'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='tj'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='tm'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='af'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='pk'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='np'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='bt'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='bd'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='vn'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='la'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='kh'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='tw'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='ge'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='az'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='am'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='sy'] {
                fill: rgba(86, 154, 60, 1);

                &:hover {
                    fill: rgba(86, 154, 60, 0.85);
                }
            }

            &[id='au'] {
                fill: rgb(247, 202, 2, 1);

                &:hover {
                    fill: rgba(247, 202, 2, 0.85);
                }
            }

            &[id='lk'] {
                fill: rgb(247, 202, 2, 1);

                &:hover {
                    fill: rgba(247, 202, 2, 0.85);
                }
            }

            &[id='pg'] {
                fill: rgb(247, 202, 2, 1);

                &:hover {
                    fill: rgba(247, 202, 2, 0.85);
                }
            }

            &[id='nc'] {
                fill: rgb(247, 202, 2, 1);

                &:hover {
                    fill: rgba(247, 202, 2, 0.85);
                }
            }

            &[id='nz'] {
                fill: rgb(247, 202, 2, 1);

                &:hover {
                    fill: rgba(247, 202, 2, 0.85);
                }
            }

            &[id='fj'] {
                fill: rgb(247, 202, 2, 1);

                &:hover {
                    fill: rgba(247, 202, 2, 0.85);
                }
            }

            &[id='no'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='sj'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='is'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='gb'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='ie'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='es'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='it'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='pt'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='ch'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='at'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='cz'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='si'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='sk'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='be'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='nl'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='dk'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='ee'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='lv'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='lt'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='hr'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='ba'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='rs'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='me'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='ro'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='hu'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='md'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='bg'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='xk'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='mk'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='al'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='gr'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='cy'] {
                fill: rgb(119, 54, 113, 1);

                &:hover {
                    fill: rgba(119, 54, 113, 0.85);
                }
            }

            &[id='fr'] {
                fill: rgb(149, 68, 142, 1);

                &:hover {
                    fill: rgba(149, 68, 142, 0.85);
                }
            }

            &[id='by'] {
                fill: rgb(149, 68, 142, 1);

                &:hover {
                    fill: rgba(149, 68, 142, 0.85);
                }
            }

            &[id='ua'] {
                fill: rgb(149, 68, 142, 1);

                &:hover {
                    fill: rgba(149, 68, 142, 0.85);
                }
            }

            &[id='fi'] {
                fill: rgb(149, 68, 142, 1);

                &:hover {
                    fill: rgba(149, 68, 142, 0.85);
                }
            }

            &[id='se'] {
                fill: rgb(89, 38, 84, 1);

                &:hover {
                    fill: rgba(89, 38, 84, 0.85);
                }
            }

            &[id='de'] {
                fill: rgb(199, 107, 171, 1);

                &:hover {
                    fill: rgba(199, 107, 171, 0.85);
                }
            }

            &[id='pl'] {
                fill: rgb(199, 107, 171, 1);

                &:hover {
                    fill: rgba(199, 107, 171, 0.85);
                }
            }

            &[id='ma'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='eh'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='mr'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='sn'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='gn'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='gh'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='ga'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='ss'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='sd'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='dj'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='eg'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='ug'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='rw'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='bi'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='tz'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='zm'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='mw'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='mz'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='bw'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='za'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='mg'] {
                fill: rgb(200, 92, 26, 1);

                &:hover {
                    fill: rgba(200, 92, 26, 0.85);
                }
            }

            &[id='dz'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='tn'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='ne'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='td'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='gw'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='lr'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='cd'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='ao'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='zw'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='ls'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='er'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='et'] {
                fill: rgb(246, 202, 101, 1);

                &:hover {
                    fill: rgba(246, 202, 101, 0.85);
                }
            }

            &[id='ly'] {
                fill: rgba(241, 174, 63, 1);

                &:hover {
                    fill: rgba(241, 174, 63, 0.85);
                }
            }

            &[id='ml'] {
                fill: rgba(241, 174, 63, 1);

                &:hover {
                    fill: rgba(241, 174, 63, 0.85);
                }
            }

            &[id='ng'] {
                fill: rgba(241, 174, 63, 1);

                &:hover {
                    fill: rgba(241, 174, 63, 0.85);
                }
            }

            &[id='sl'] {
                fill: rgba(241, 174, 63, 1);

                &:hover {
                    fill: rgba(241, 174, 63, 0.85);
                }
            }

            &[id='ke'] {
                fill: rgba(241, 174, 63, 1);

                &:hover {
                    fill: rgba(241, 174, 63, 0.85);
                }
            }

            &[id='cf'] {
                fill: rgba(241, 174, 63, 1);

                &:hover {
                    fill: rgba(241, 174, 63, 0.85);
                }
            }

            &[id='so'] {
                fill: rgba(241, 174, 63, 1);

                &:hover {
                    fill: rgba(241, 174, 63, 0.85);
                }
            }

            &[id='ci'] {
                fill: rgba(235, 146, 29, 1);

                &:hover {
                    fill: rgba(235, 146, 29, 0.85);
                }
            }

            &[id='bf'] {
                fill: rgba(235, 146, 29, 1);

                &:hover {
                    fill: rgba(235, 146, 29, 0.85);
                }
            }

            &[id='tg'] {
                fill: rgba(235, 146, 29, 1);

                &:hover {
                    fill: rgba(235, 146, 29, 0.85);
                }
            }

            &[id='bj'] {
                fill: rgba(235, 146, 29, 1);

                &:hover {
                    fill: rgba(235, 146, 29, 0.85);
                }
            }

            &[id='cm'] {
                fill: rgba(235, 146, 29, 1);

                &:hover {
                    fill: rgba(235, 146, 29, 0.85);
                }
            }

            &[id='gq'] {
                fill: rgba(235, 146, 29, 1);

                &:hover {
                    fill: rgba(235, 146, 29, 0.85);
                }
            }

            &[id='cg'] {
                fill: rgba(235, 146, 29, 1);

                &:hover {
                    fill: rgba(235, 146, 29, 0.85);
                }
            }

            &[id='na'] {
                fill: rgba(235, 146, 29, 1);

                &:hover {
                    fill: rgba(235, 146, 29, 0.85);
                }
            }

            &[id='sz'] {
                fill: rgba(235, 146, 29, 1);

                &:hover {
                    fill: rgba(235, 146, 29, 0.85);
                }
            }
        }
    }
}
